# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Spring Boot packaging
target/
build/

# Gradle
.gradle/
build/

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
*.bak
*.swp
*.swo

